parameters:
  level: max
  paths:
    - app
    - database
    - routes
  tmpDir: var/phpstan
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
